@use '../custom' as *;

.action-congrat {
    position: relative;
    height: 844px;
    background-color: $yellow;

    .close {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}